<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/admin/cars/new}">New Car</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>License Plate</th>
        <th>Daily Price</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.licensePlateNumber}"></td>
        <td th:text="${car.dailyPrice}"></td>
        <td>
            <img th:src="@{/api/v1/cars/{id}/image(id=${car.id})}" width="200" />
        </td>
        <td>
            <a th:href="@{/admin/cars/{id}/edit(id=${car.id})}" class="btn btn-primary">Edit</a>
            <a th:href="@{/admin/cars/{id}/image(id=${car.id})}" class="btn btn-primary">Add Picture</a>
            <a th:href="@{/admin/cars/{id}/deactivate(id=${car.id})}" class="btn btn-primary">Deactivate</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>