<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments/general :: head"></div>
</head>
<body>
<header th:insert="fragments/adminnavbar :: navbar"></header>
<div th:replace="fragments/general :: message"></div>
<main class="container my-4">
    <h1 th:text="'New Image for Car'" class="text-center my-3"></h1>
    <hr/>
    <form enctype="multipart/form-data" method="post" th:action="@{/admin/cars/{id}/image(id=${id})}">
        <input id="image" name="image" type="file" accept="image/*" class="form-control my-2"/>
        <button type="submit" class="form-control my-2 btn btn-primary">Upload</button>
    </form>
</main>
</body>
</html>