<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments/general :: head"></div>
</head>
<body>
<header th:insert="fragments/general :: navbar"></header>
<div th:replace="fragments/general :: message"></div>
<main class="container my-4">
    <h1 th:text="'Found Cars'" class="text-center my-3"></h1>
    <h5 class="text-center"><span th:text="'From: ' + ${daterange.start}" class="mx-5"></span><span th:text="'To: ' + ${daterange.end}" class="mx-5"></span></h5>
    <hr/>
    <div class="d-flex flex-wrap justify-content-center">
        <div class="card m-1" style="width: 18rem;" th:each="car : ${cars}">
            <img th:src="@{/api/v1/cars/{id}/image(id=${car.id})}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${car.licensePlateNumber}"></h5>
                <p class="card-text" th:text="'Daily Price: ' + ${car.dailyPrice} + ' Ft'"></p>
                <form action="#" method="post" th:action="@{/rentals/new}" class="mx-auto">
                    <input type="hidden" id="carid" name="carid" th:value="${car.id}">
                    <input type="hidden" id="startDate" name="startDate" th:value="${daterange.start}">
                    <input type="hidden" id="endDate" name="endDate" th:value="${daterange.end}">
                    <button type="submit" class="btn btn-primary form-control">Rent</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>