<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments/general :: head"></div>
</head>
<body>
<header th:insert="fragments/general :: navbar"></header>
<div th:replace="fragments/general :: message"></div>
<main class="container my-4">
    <form th:action="@{/}" th:object="${search}" method="post">
        <h1 th:text="'Search for available cars'" class="text-center my-3"></h1>
        <hr/>
        <div class="row my-4">
            <div class="col">
                <label for="dateStart">Start</label>
                <input class="form-control" id="dateStart" th:field="*{start}" type="date"/>
            </div>
            <div class="col">
                <label for="dateEnd">End</label>
                <input class="form-control" id="dateEnd" th:field="*{end}" type="date"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary form-control">Search</button>
    </form>
</main>
</body>
</html>